{:db  {:aws {:db-name #env AWSDBNAME
             :dbtype "postgres"
             :user #env AWSUSER
             :password #env AWSPASS
             :host #env AWSHOST}
       :azure {:jdbc-url #env AZURE_JDBC
               :user #env PG_USER
               :password #env PGPASSWORD
               :dbtype "postgres"}
       :google-cloud {}} 
 :storage-service {:aws {:bucket-name #env BUCKET-NAME}
                   :azure {:blobname "luhmannblob"
                           :container "archivosociologico"
                           :blob_key #env AZURE_BLOB_KEY
                           :blob_conn_string #env AZURE_BLOB_STRING_CONN}
                   :google-cloud {}}
 :llm-service  {:cohere {:cohere-key #env COHEREKEY}
                :openai {:openai-key #env OPENAIKEY}
                :anthropic {:anthropic-key #env ANTHROPICKEY}
                :huggingface {:huggingface-key #env HUGGINGFACEKEY}
                :custom-model {}}}
